.item_slot {
    margin: 10px 0;
    align-items: center;
}

.item_name {
    width: 120px;
}

#character_dropdown {
    min-width: 24%;
    width: auto;
    font-size: 2em;
    border-bottom-width: 2px;
}

#character_info {
    align-items: center;
}

#class_icon {
    width: 32px;
    margin-right: 7px;
}

#items_left {
    margin-right: 20px;
}

#items_left .item_name {
    margin: 0 0 0 6px;
}

#items_right {
    margin-left: 20px;
}

#items_right .item_name {
    margin: 0 6px 0 0;
    text-align: end;
}

#items_bottom {
    margin-top: 30px;
    justify-content: center;
}

#items_bottom .item_name {
    text-align: center;
}

#modal_content {
    min-width: 22%;
    padding: 12px 90px;
}

.item_epic {
    color: #a335ee;
}

.item_rare {
    color: #0070dd;
}
