<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Character Customization</title>
    <link th:href="@{/css/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/character-customization.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="content_main_container flex content_frame">
        <select id="character_dropdown" class="dropdown_list" onchange="fillSelectedCharInfo()">
            <option th:each="char : ${chars}" th:value="${char.id}" th:text="${char.name}"></option>
            <option value="1000">+ New character</option>
        </select>

        <div id="character_info" class="flex">
            <img id="class_icon" th:src="@{/images/class-icons/druid.png}" alt="class-icon" hidden="true" >
            <p id="char_spec" class="color_primary"></p>
        </div>

        <div>
            <h3 class="title_text color_primary">Equipment</h3>
            <div class="flex">
                <div id="items_left" class="flex flex_col">
                    <div id="item_head" class="item_slot flex">
                        <img class="item_icon" th:src="@{/images/item-icons/no-head.png}" alt="head-icon">
                        <p class="item_name item_epic"></p>
                    </div>
                    <div id="item_shoulder" class="item_slot flex">
                        <img class="item_icon" th:src="@{/images/item-icons/no-shoulder.png}" alt="shoulder-icon">
                        <p class="item_name item_epic"></p>
                    </div>
                    <div id="item_chest" class="item_slot flex">
                        <img class="item_icon" th:src="@{/images/item-icons/no-chest.png}" alt="chest-icon">
                        <p class="item_name item_epic"></p>
                    </div>
                </div>
                <div id="items_right" class="flex flex_col">
                    <div id="item_hands" class="item_slot flex">
                        <p class="item_name item_epic"></p>
                        <img class="item_icon" th:src="@{/images/item-icons/no-hands.png}" alt="hands-icon">
                    </div>
                    <div id="item_legs" class="item_slot flex">
                        <p class="item_name item_epic"></p>
                        <img class="item_icon" th:src="@{/images/item-icons/no-legs.png}" alt="legs-icon">
                    </div>
                </div>
            </div>
            <div id="items_bottom" class="flex">
                <div id="item_weapon" class="item_slot flex flex_col">
                    <img class="item_icon" th:src="@{/images/item-icons/no-weapon.png}" alt="weapon-icon">
                    <p class="item_name item_epic"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_container" class="modal_container flex center_content invisible" onclick="clearAndCloseModal()">
    <div id="modal_content" class="content_frame color_background_secondary elevated">
        <h3 class="title_text color_primary">New Character</h3>
        <form method="post" th:action="@{/user/characters/new}" th:object="${createFormData}">
            <div class="form_element">
                <label class="label_text color_primary" for="username">Username: </label>
                <input id="username" class="content_frame" type="text" th:field="*{characterName}"/>
            </div>
            <div class="form_element">
                <select id="class_dropdown" class="dropdown_list" onchange="filterSpecs()">
                    <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}"></option>
                </select>
            </div>
            <div class="form_element">
                <select id="spec_dropdown" class="dropdown_list" th:field="*{specID}">
                    <option th:each="spec : ${specs}" th:value="${spec.id}" th:text="${spec.name}"></option>
                </select>
            </div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>
</body>
</html>

<script th:inline="javascript">
    /*<![CDATA[*/
    function fillSelectedCharInfo() {
        let characters = /*[[${chars}]]*/ null;
        let selectedIndex = $("#character_dropdown option:selected").index();

        if (selectedIndex != characters.length) {
            let selectedCharacter = characters[selectedIndex];
            $("#class_icon").attr('src', '/images/class-icons/' + selectedCharacter.spec.class.name.toLowerCase() + '.png')
            $("#class_icon").attr('hidden', false);
            $("#char_spec").text(selectedCharacter.spec.name + " " + selectedCharacter.spec.class.name);
            fillCharacterItems(selectedCharacter.items);
        } else {
            $("#modal_container").removeClass("invisible");
            $("#class_dropdown").val(1);
            filterSpecs();
            $("#char_spec").text("");
        }
    }

    function fillCharacterItems(items) {
        let itemElement;
        let itemSlot;
        for(let i = 1; i <= 6; i++) {
            switch (i) {
                case 1:
                    itemElement = $("#item_head");
                    itemSlot = "head";
                    break;
                case 2:
                    itemElement = $("#item_shoulder");
                    itemSlot = "shoulder";
                    break;
                case 3:
                    itemElement = $("#item_chest");
                    itemSlot = "chest";
                    break;
                case 4:
                    itemElement = $("#item_hands");
                    itemSlot = "hands";
                    break;
                case 5:
                    itemElement = $("#item_legs");
                    itemSlot = "legs";
                    break;
                case 6:
                    itemElement = $("#item_weapon");
                    itemSlot = "weapon";
                    break;
            }

            let item = items.find(itm => itm.slot.id === i);
            if (item != null) {
                itemElement.children(".item_icon").first().attr('src', '/images/item-icons/' + item.item.iconName);
                itemElement.children(".item_name").first().text(item.item.name);
                itemElement.children(".item_name").first().text(item.item.name);

                if (item.item.rarity.id == 2) {
                    itemElement.children(".item_name").first().removeClass('item_rare');
                    itemElement.children(".item_name").first().addClass('item_epic');
                } else if (item.item.rarity.id == 1) {
                    itemElement.children(".item_name").first().removeClass('item_epic');
                    itemElement.children(".item_name").first().addClass('item_rare');
                }
            } else {
                itemElement.children(".item_icon").first().attr('src', '/images/item-icons/no-' + itemSlot + '.png');
                itemElement.children(".item_name").first().text('');
            }
        }
    }

    function filterSpecs() {
        let specializations = /*[[${specs}]]*/ null;
        let selectedClassId = $("#class_dropdown option:selected").val();

        let selectedClassSpecs = specializations.filter(s => s.specClass.id == selectedClassId).map(s => s.id);

        $("#spec_dropdown option").each(function()
        {
            let specID = $(this).val();
            if (!selectedClassSpecs.includes(parseInt(specID))) {
                console.log(specID);
                $(this).attr('disabled', 'disabled').hide();
            } else {
                $(this).removeAttr('disabled').show();
            }
        });

        $("#spec_dropdown").val(selectedClassSpecs[0]);
    }

    function clearAndCloseModal(e) {
        $("#character_dropdown").prop('selectedIndex', 0);
        fillSelectedCharInfo();
        $("#modal_container").addClass("invisible");
        $("#username").text("");
    }

    $(function() {
        fillSelectedCharInfo();

        $("#modal_container > *").click(function(e) {
            e.stopPropagation();
        })
    });
    /*]]>*/
</script>