<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | WoW Guild Manager</title>
    <link th:href="@{/css/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid flex center_content">
    <div id="login_container" class="content_frame color_background_secondary elevated">
        <h3 class="title_text color_primary">Login</h3>
        <div th:if="${param.error}" class="error_message">Wrong username or password.</div>
        <div th:if="${param.logout}" class="login-success">You have successfully logged out.</div>
        <form method="post" th:action="@{/login}">
            <div class="form_element">
                <label class="label_text color_primary" for="username">Username: </label>
                <input id="username" class="content_frame" type="text" name="username"/>
            </div>
            <div class="form_element">
                <label class="label_text color_primary" for="password">Password: </label>
                <input id="password" class="content_frame" type="password" name="password"/>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input type="submit" value="Login" class="form-control btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>